.bg_sub::after {
  content: "";
  background: url(../media/sub_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.bg_bridge:after {
  content: "";
  background: url(../media/footer_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  

}
.bg_bridge:before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $blue;
  z-index: -1;  

}