// Neutral colors
$white: #ffffff;
$whitet: rgba(256, 256, 256, 0.5);
$black: #000000;

$green: #00ff00;
$brightgray: #f3f3f3;
$orange: #ee7600;
$orangedark: #CD6839; 
$lightblue-bgo: rgba(178, 223, 238, 0.5);
$lightblue: #b2dfee;
$lightblue2 : #B4CDCD;
$pinky : #fffaf1;

$graym: #f1f1f1;


//Text color
$text-color: $black;
$darkgray: #666666;

//Background colors
$gray-background: $brightgray;