<footer>
	<div class="bg_bridge py-md-5 sm-down-text-center">
		<div class="container color-white">
			<div class="row pt-5">
				<div class="col-md-8 bb">

					
					<section class="row">
						<div class="col-md-4">
							<div class="p-2 sm-down-w-100">
								<h1 class="c-title-xsf">Mare Tours</h1>
								<p class="m-0">Pojana 4</p>
								<p class="m-0">51516</p>
								<p class="m-0">Croatia</p>
							</div>
						</div>

						<div class="col-md-8 p-2 pb-5">			
							<ul class="o-infoContact">
								<li class="o-infoContact_item">
									<span>Tel:</span>
									<a href="">+35542 1655 32156</a>
								</li>

								<li class="o-infoContact_item">
									<span>Fax:</span>
									<a href="">+35542 1655 32156</a>
								</li>


								<li class="o-infoContact_item">
									<span>Mobile:</span>
									<a href="">+35542 1655 32156</a>
								</li>



								<li class="o-infoContact_item">
									<span>Email:</span>
									<a class="c-link-under" href="mailto:info@mare-vrbnik.com">info@mare-vrbnik.com</a>
								</li>
							</ul>

						</div>

					</section>

				</div>

				<div class="col-md-4 bb">
					<ul>
						<li><a class="c-link" href="">About us</a></li>
						<li><a class="c-link" href="">Contact us</a></li>
						<li><a class="c-link" href="">Careers</a></li>
					</ul>	
				</div>

			</div>


			<div class="row">
				<div class="col-md-10 bb p-0">
					
					<ul class="display-block-then-inline py-3">
						<li class="c-footer_links_policy c-link"><a href="">Privacy Policy</a></li>
						<li class="c-footer_links_policy c-link"><a href="">Terms & Conditions </a></li>
						<li class="c-footer_links_policy c-link"><a href="">Booking Conditions </a></li>
						<li class="c-footer_links_policy c-link"><a href="">Cookie Policy</a></li>
					</ul>

				</div>

				<div class="col-md-2 p-0 bb">
					<div class="d-flex justify-content-center justify-content-md-end py-3">
						<a href=""><img class="c-footer_icon" src="../media/facebook_icon.png" alt=""></a>
						<a href=""><img class="c-footer_icon ml-2" src="../media/twitter_icon.gif" alt=""></a>
					</div>	
				</div>
			</div>

			<div class="row py-5 pb-md-0 text-center">
				<div class="col">
					<p class="color-gray2">Copyright &copy; 2015 Mare Tours</p>
					<h2 class="c-footer_links_hexis color-gray2"><a class="" href="">HEXIS</a></h2>
				</div>

			</div>
		</div>
	</div>
</footer>