<footer>
	<div class="bg-blue py-md-5 sm-text-center">
		<div class="container color-white">
			<div class="row pt-5">
				<div class="col-md-8 bb">

					<section class="d-flex flex-wrap o-tbl_br">
						<div class="p-2 sm-w-100">
							<h1 class="c-title-xsf">Mare Tours</h1>
							<p class="m-0">Pojana 4</p>
							<p class="m-0">51516</p>
							<p class="m-0">Croatia</p>
						</div>

						<div class="p-2 pb-5 sm-w-100 info">
							<p class="m-0 footer-info" data-after="+123 51 604 604">Tel:</p>
							<p class="m-0 footer-info" data-after="+123 51 604 604">Fax:</p>
							<p class="m-0 footer-info" data-after="+123 51 604 604">Mobile:</p>
							<a href="mailto:info@mail.com"><p class="m-0 footer-info" data-after="info@mail.com">eMail:</p></a>
						</div>

					</section>

				</div>

				<div class="col-md-4 bb">
					<ul>
						<li><a href="">About us</a></li>
						<li><a href="">Contact us</a></li>
						<li><a href="">Careers</a></li>
					</ul>	
				</div>

			</div>


			<div class="row">
				<div class="col-md-10 bb">
					
					<ul class="display-inline-then-block float-left py-3">
						<li class="display-inline-then-block"><a href="">Privacy Policy</a></li>
						<li class="display-inline-then-block "><a href="">Terms & Conditions </a></li>
						<li class="display-inline-then-block"><a href="">Booking Conditions </a></li>
						<li class="display-inline-then-block"><a href="">Cookie Policy</a></li>
					</ul>

				</div>

				<div class="col-md-2 p-3 bb">
					<div class="d-flex justify-content-center">
						<a href=""><img class="footer_icon" src="../media/facebook_icon.png" alt=""></a>
						<a href=""><img class="footer_icon ml-2" src="../media/twitter_icon.gif" alt=""></a>
					</div>	
				</div>
			</div>

			<div class="row py-5 pb-md-0 text-center">
				<div class="col">
					<p class="color-gray2">Copyright &copy; 2015 Mare Tours</p>
					<h2 class="color-gray2">HEXIS</h2>
				</div>

			</div>
		</div>
	</div>
</footer>