.info{
	position: relative;
	@include md-down {
		margin-left: -30px;
	}
}

.footer-info:after {
	content: attr(data-after);
	position: absolute;
	left: 85px;
	width: 200px;
	
	@include md-down {
		position: relative;
		width: auto;
		margin-left: -66px;
	}
}
